<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Produtos
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Produto</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/products/{$product.idproduct}" method="post" enctype="multipart/form-data">
          <div class="box-body">
              <div class="form-group">
                  <label for="drugname">Nome do Medicamento</label>
                  <input type="text" class="form-control" id="drugname" name="drugname" value="{$product.drugname}"placeholder="Digite o nome do medicamento">
                </div>
                <div class="form-group">
                  <label for="barcode">Codigo de Barra</label>
                  <input type="text" class="form-control" id="barcode" name="barcode" value="{$product.barcode}" placeholder="Codigo de barra">
                </div>
                <div class="form-group">
                  <label for="msregistry">Registro MS</label>
                  <input type="number" class="form-control" id="msregistry" name="msregistry" value="{$product.msregistry}" placeholder="Registro MS">
                </div>
                <div class="form-group">
                  <label for="price">Preço</label>
                  <input type="number" class="form-control" id="price" name="price" step="0.01" value="{$product.price}" placeholder="0.00">
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox" name="recipe" value="1"{if="$product.recipe == 1"}checked{/if}> Receita
                    </label>
                </div>           
                <div class="form-group">
                  <label for="discount">Desconto</label>
                  <input type="number" class="form-control" id="discount" name="discount" step="0.01" value="{$product.discount}" placeholder="0.00">
                </div>
                 <div class="form-group">
                  <label for="laboratory">Laboratóio</label>
                  <input type="text" class="form-control" id="laboratory" name="laboratory" value="{$product.laboratory_idlaboratory}">
                </div>
          </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
document.querySelector('#file').addEventListener('change', function(){
  
  var file = new FileReader();

  file.onload = function() {
    
    document.querySelector('#image-preview').src = file.result;

  }

  file.readAsDataURL(this.files[0]);

});
</script>